// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#map_canvas {
    width: 100%;
    min-height: 500px;
}

.device-item * {
    pointer-events: none;
}

.farthest-device {
    cursor: pointer;
}
